@charset "UTF-8";
/* GLOBAL */
/* здесь используйте глобальные переменные */
/* здесь используйте глобальные селекторы img, body, html и так далее */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* здесь подключите шрифты */
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
}
/* BLOCKS */
.wrapper {
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1220px;
    padding: 0;
  }
}

.section {
  position: relative;
}
.section__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", san-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 768px) {
  .section__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.button {
  display: block;
  width: 280px;
  padding: 11px 26px;
  box-sizing: border-box;
  font-family: "Oswald", san-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .button {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.button:disabled, .button:disabled:hover, .button:disabled:active, .button--disabled, .button--disabled:hover, .button--disabled:active {
  cursor: default;
  color: rgba(68, 68, 68, 0.3);
  background-color: #cdcdcd;
  opacity: 0.4;
}
.button--secondary {
  background-color: #f2f2f2;
  font-size: 16px;
  color: #444444;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}

.nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  z-index: 2;
}
.nav--closed {
  display: none;
}
.nav--opened {
  display: block;
}
.nav--nojs {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .nav {
    width: auto;
    position: relative;
    top: auto;
    display: flex;
  }
}
@media (min-width: 768px) {
  .nav {
    background-color: transparent;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    border-top: none;
  }
}
@media (min-width: 1280px) {
  .nav__list--main .nav__link {
    color: #ffffff;
  }
  .nav__list--main .nav__link--current::before {
    background-color: #ffffff;
  }
}
.nav__item {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .nav__item {
    border-bottom: none;
  }
}
.nav__link {
  position: relative;
  display: block;
  padding: 22px 0 24px;
  position: relative;
  font-family: "Oswald", san-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
.nav__link[href]:hover {
  opacity: 0.6;
}
.nav__link[href]:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .nav__link {
    padding: 10px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .nav__link--current::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #68b738;
  }
}
.nav__button {
  border: none;
  padding: 0;
}
@media (min-width: 768px) {
  .nav__button {
    display: none;
  }
}

.header {
  color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
.header__container {
  position: relative;
  min-height: 65px;
}
@media (min-width: 768px) {
  .header__container {
    min-height: 78px;
    padding-top: 27px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header__container {
    padding-top: 53px;
  }
}
.header__bar {
  padding-top: 12px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__bar {
    padding: 0;
  }
}
.header__logo {
  width: calc(50% + 101px / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__logo {
    width: auto;
  }
}
.header__nav {
  margin-left: 92px;
}
.header__toggler {
  width: 24px;
  height: 16px;
  display: block;
  background-color: transparent;
  border: none;
}
.header__toggler--closed {
  background: #000000;
  mask-image: url("../../icons/menu_button.svg");
}
.header__toggler--opened {
  position: relative;
}
.header__toggler--opened::before, .header__toggler--opened::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 1.5px;
  background-color: #000000;
}
.header__toggler--opened::before {
  transform: rotate(45deg);
}
.header__toggler--opened::after {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .header__toggler {
    display: none;
  }
}

.page {
  box-sizing: border-box;
  overflow-x: hidden;
}
.page::before, .page::after {
  box-sizing: inherit;
}
.page__body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page__body {
    font-size: 16px;
    line-height: 24px;
  }
}
.page__form {
  padding-top: 27px;
}
@media (min-width: 768px) {
  .page__form {
    padding-top: 141px;
  }
}

.catalog-page {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-page {
    padding-top: 141px;
    border-top: none;
  }
}
@media (min-width: 1280px) {
  .catalog-page {
    padding-top: 188px;
  }
}
.catalog-page__title {
  margin-bottom: 41px;
  font-family: "Oswald", san-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog-page__title {
    margin-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: 768px) {
  .title {
    grid-column: 1/-1;
  }
}
.title--has-border {
  position: relative;
  width: 100%;
  display: flex;
}
.title--has-border::before {
  content: "";
  position: absolute;
  top: calc(26px / 2);
  right: -20px;
  left: -20px;
  height: 2px;
  background-color: #68b738;
  z-index: -2;
}
@media (min-width: 768px) {
  .title--has-border::before {
    top: calc(36px / 2);
    left: -70px;
    right: -70px;
  }
}
@media (min-width: 1280px) {
  .title--has-border::before {
    left: -400px;
    right: -400px;
  }
}
.title--has-border .title__content {
  position: relative;
}
.title--has-border .title__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  right: -40px;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
}
.additional-product__name {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .additional-product__name {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}
.additional-product__details {
  margin: 0;
  margin-bottom: 15px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, auto);
}
@media (min-width: 768px) {
  .additional-product__details {
    justify-content: end;
    margin-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .additional-product__details {
    justify-content: space-between;
  }
}
.additional-product__weight {
  margin: 0;
}
.additional-product__cost {
  margin: 0;
}
@media (min-width: 768px) {
  .additional-product__cost {
    margin-left: 50px;
  }
}
.additional-product__button {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
}
@media (min-width: 768px) {
  .additional-product__button {
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/-1;
  }
}
@media (min-width: 1280px) {
  .additional-product__button {
    width: 244px;
    grid-column: 4/5;
  }
}

.additional-products {
  position: relative;
  padding-top: 25px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .additional-products {
    margin-bottom: 76px;
  }
}
@media (min-width: 1280px) {
  .additional-products {
    margin-bottom: 86px;
  }
}
.additional-products::before {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #68b738;
  z-index: -2;
}
@media (min-width: 768px) {
  .additional-products::before {
    top: 45px;
  }
}
.additional-products__info {
  width: 100%;
}
@media (min-width: 1280px) {
  .additional-products__info {
    display: grid;
    grid-template-columns: auto 250px;
    gap: 80px;
  }
}
.additional-products__title {
  margin: 0 20px 36px 0;
  position: relative;
  display: inline-block;
  padding: 0;
  font-family: "Oswald", san-serif;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .additional-products__title {
    margin-left: 20px;
    padding: 0 17px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1280px) {
  .additional-products__title {
    margin: 0;
    padding: 0;
  }
}
.additional-products__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  bottom: 0;
  background-color: #ffffff;
  z-index: -1;
}
.additional-products__list {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-products__list {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
    padding: 0 38px;
  }
}
@media (min-width: 1280px) {
  .additional-products__list {
    margin-bottom: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
}
.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-products__item {
    padding: 26px 0 28px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 25px;
  }
}
@media (min-width: 1280px) {
  .additional-products__item {
    padding: 15px 0 17px;
    column-gap: 40px;
    align-items: center;
  }
}
.additional-products__promo {
  grid-row: 2/3;
  grid-column: 2/3;
}

.card {
  min-width: 280px;
  margin: 0 auto;
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image title" "image details" "button button";
  column-gap: 20px;
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .card {
    min-width: 324px;
    grid-template-areas: "image image" "title title" "details details" "button button";
    padding: 10px 36px 40px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 80px, #f2f2f2 80px, #f2f2f2 100%);
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .card {
    min-width: 245px;
    padding-left: 40px;
  }
}
.card__title {
  max-width: 80px;
  margin: 0;
  margin-bottom: 18px;
  grid-area: title;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  color: #222222;
}
@media (min-width: 768px) {
  .card__title {
    margin-inline: auto;
    margin-bottom: 21px;
    max-width: 150px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.card__text {
  margin: 0;
  grid-area: text;
  line-height: 18px;
  text-align: center;
  color: #444444;
}
.card__img-wrapper {
  grid-area: image;
  margin: auto;
}
@media (min-width: 768px) {
  .card__img-wrapper {
    height: 200px;
    margin-bottom: 35px;
    display: flex;
    align-items: end;
  }
}
@media (min-width: 768px) {
  .card__img {
    margin-top: auto;
  }
}
.card__details {
  margin: 0;
  grid-area: details;
  width: 150px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .card__details {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }
}
.card__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .card__row {
    margin-bottom: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.card__description {
  margin: 0;
  text-align: right;
}
.card__button {
  width: 100%;
  grid-area: button;
  margin: 0 auto;
  margin-top: 13px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .card__button {
    width: 100%;
    align-self: flex-end;
  }
}
@media (min-width: 1280px) {
  .card__button {
    min-width: 168px;
    width: 100%;
  }
}

.card-show-all {
  position: relative;
  padding-top: 80px;
  background-color: #ffffff;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .card-show-all {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "title title" "text text" "button button";
    justify-content: center;
    padding-top: 161px;
    margin-top: 80px;
    background-image: none;
    border: 2px solid #f2f2f2;
  }
}
.card-show-all::before {
  content: "";
  position: absolute;
  top: calc(25px + 30px / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .card-show-all::before {
    top: calc(52px + 60px / 2);
    width: 60px;
  }
}
.card-show-all::after {
  content: "";
  position: absolute;
  top: calc(25px + 30px / 2);
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .card-show-all::after {
    top: calc(52px + 60px / 2);
    width: 60px;
  }
}
.card-show-all__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
}
@media (min-width: 768px) {
  .card-show-all__title {
    width: 150px;
    margin: 0 auto;
    grid-area: title;
    font-size: 20px;
  }
}
.card-show-all__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .card-show-all__text {
    width: 170px;
    grid-area: text;
    align-self: start;
    margin: 0 auto;
    font-size: 16px;
  }
}
.card-show-all__button {
  margin: 0 auto;
  grid-area: button;
  align-self: flex-end;
}
@media (min-width: 1280px) {
  .card-show-all__button {
    width: 100%;
  }
}

.contacts {
  position: relative;
  min-height: 360px;
}
@media (min-width: 768px) {
  .contacts {
    min-height: 400px;
  }
}
.contacts--color-grey {
  background-color: #f2f2f2;
}
@media (min-width: 1280px) {
  .contacts--color-grey {
    background-color: #ffffff;
  }
}
.contacts__container {
  pointer-events: none;
}
@media (min-width: 1280px) {
  .contacts__container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 3;
  }
}
.contacts__info {
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: repeat(2, 140);
  justify-content: space-between;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .contacts__info {
    padding: 56px 50px;
    grid-template-columns: repeat(2, 170);
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .contacts__info {
    max-width: 565px;
    padding: 59px 80px;
    margin-top: 90px;
    gap: 81px;
    background-color: #fff;
  }
}
.contacts__heading {
  margin: 0;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .contacts__heading {
    font-size: 20px;
    line-height: 26px;
  }
}
.contacts__address {
  margin: 0;
  color: #444444;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .contacts__address {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .contacts__address-city {
    display: block;
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .contacts__map iframe {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.control {
  min-height: 30px;
  position: relative;
  padding-left: 45px;
  display: flex;
}
.control:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .control {
    min-height: 40px;
    padding-left: 60px;
  }
}
.control__label {
  padding-top: 5px;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .control__label {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__input[type=radio] + .control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .control__input[type=radio] + .control__mark {
    width: 38px;
    height: 38px;
  }
}

.control__input[type=radio]:checked + .control__mark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 13.5px;
  height: 13.5px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .control__input[type=radio]:checked + .control__mark::before {
    width: 18px;
    height: 18px;
  }
}

.control__input[type=checkbox] + .control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .control__input[type=checkbox] + .control__mark {
    width: 38px;
    height: 38px;
  }
}

.control__input[type=checkbox]:checked + .control__mark {
  background-image: url("../../icons/check_icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: center;
}
@media (min-width: 768px) {
  .control__input[type=checkbox]:checked + .control__mark {
    background-size: 24px 18px;
  }
}

.control__input:hover + .control__mark {
  cursor: pointer;
  border-color: #bababa;
}
.control__input:focus + .control__mark {
  border-color: #444444;
}
.control__input:disabled, .control__input:disabled:hover, .control__input:disabled:focus, .control__input--disabled, .control__input--disabled:hover, .control__input--disabled:focus {
  cursor: default;
}
.control__input:disabled + .control__mark, .control__input:disabled ~ .control__label, .control__input:disabled:hover + .control__mark, .control__input:disabled:hover ~ .control__label, .control__input:disabled:focus + .control__mark, .control__input:disabled:focus ~ .control__label, .control__input--disabled + .control__mark, .control__input--disabled ~ .control__label, .control__input--disabled:hover + .control__mark, .control__input--disabled:hover ~ .control__label, .control__input--disabled:focus + .control__mark, .control__input--disabled:focus ~ .control__label {
  opacity: 0.3;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 5px;
  text-decoration: none;
}
.copyright:hover {
  cursor: pointer;
}
.copyright:hover .copyright__icon {
  color: #68b738;
}
.copyright:active {
  opacity: 0.3;
}
.copyright:active .copyright__icon {
  color: #68b738;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }
}
.copyright__text {
  font-size: 16px;
  line-height: 100%;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright__text {
    margin-right: 22px;
  }
}
.copyright__icon {
  width: 27px;
  height: 34px;
  color: #666;
}

.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    position: relative;
    padding: 45px 30px 55px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }
  .example::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .example {
    border-top: none;
    padding-top: 0;
  }
  .example::after {
    top: 180px;
    height: auto;
  }
}
.example__container {
  position: relative;
  z-index: 1;
}
@media (min-width: 1280px) {
  .example__container {
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 590px;
    grid-template-rows: repeat(2, auto);
  }
}
.example__title {
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    margin-bottom: 63px;
  }
}
@media (min-width: 1280px) {
  .example__title {
    margin-bottom: 76px;
    padding-top: 43px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 1280px) {
  .example__info {
    max-width: 436px;
    padding-top: 70px;
    padding-bottom: 25px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.example__description {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .example__description {
    margin-bottom: 54px;
  }
}
@media (min-width: 1280px) {
  .example__description {
    margin-bottom: 69px;
  }
}
.example__results {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .example__results {
    margin-bottom: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .example__results {
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
.example__list {
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
}
@media (min-width: 1280px) {
  .example__list {
    gap: 44px;
    margin-bottom: 55px;
  }
}
.example__item {
  position: relative;
  width: 124px;
  padding-top: 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .example__item {
    width: 160px;
  }
}
.example__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  border: 1px solid #cdcdcd;
  z-index: -1;
}
@media (min-width: 768px) {
  .example__item::before {
    height: auto;
    bottom: 5px;
  }
}
.example__number {
  display: block;
  margin-bottom: 7px;
  font-family: "Oswald", san-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 40px;
  }
}
.example__text {
  width: 70%;
  margin: 0 auto;
  background-color: #eaeaea;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
}
@media (min-width: 768px) {
  .example__text {
    width: 85%;
    background-color: #fff;
    font-size: 14px;
    line-height: 14px;
  }
  .example__text br {
    display: none;
  }
}
@media (min-width: 1280px) {
  .example__text {
    background-color: #eaeaea;
  }
}
.example__cost {
  font-family: "Oswald", san-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__cost {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  .example__cost {
    flex-direction: row;
  }
}
.example__sum {
  margin-left: 63px;
}
@media (min-width: 1280px) {
  .example__sum {
    margin-left: 58px;
  }
}
@media (min-width: 1280px) {
  .example__before-after {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.example__image {
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 1280px) {
  .example__image {
    margin-bottom: 21px;
  }
}
.example__range {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (min-width: 1280px) {
  .example__range {
    gap: 21px;
  }
}
.example__range-text {
  margin: 0;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__range-text {
    position: relative;
    font-size: 20px;
    line-height: 30px;
  }
  .example__range-text::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: -0.5px;
    right: -0.5px;
    height: 5px;
    background-image: linear-gradient(to right, #000000 50%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 2px 1px;
    opacity: 0.24;
  }
  .example__range-text:hover {
    cursor: pointer;
  }
  .example__range-text:hover::before {
    background-image: linear-gradient(to right, #000000 0%, #000000 100%);
    opacity: 0.4;
  }
  .example__range-text:active::before, .example__range-text--active::before {
    background-image: none;
  }
}
.example__range-button {
  display: none;
}
@media (min-width: 768px) {
  .example__range-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }
  .example__range-button::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
  }
  .example__range-button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
  }
  .example__range-button:active, .example__range-button--active {
    border: 1px solid #68b738;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
  }
}
.example__bar {
  position: relative;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .example__bar {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }
}
.example__inner-bar {
  position: absolute;
  left: 6px;
  top: 4px;
  bottom: 4px;
  background-color: #68b738;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .example__inner-bar {
    display: none;
  }
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    font-size: 20px;
    line-height: 100%;
  }
}
.field__input {
  position: relative;
  height: 100%;
  margin-left: 15px;
  padding: 13px 38px 13px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  appearance: textfield;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.field__input:hover {
  cursor: pointer;
  border: 1px solid #cdcdcd;
}
.field__input:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}
.field__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.field__input:focus + .field__input-icon {
  background-color: #68b738;
}
.field__input--error, .field__input--error:focus {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
}
.field__input--error + .field__input-icon, .field__input--error:focus + .field__input-icon {
  background-color: #ff8282;
}
@media (min-width: 768px) {
  .field__input {
    padding: 9px 45px 9px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
.field__input::-webkit-outer-spin-button, .field__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.field__input::placeholder {
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
.field__input-icon--email {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 14px;
  background-color: #222222;
  mask-image: url("../../icons/email_icon.svg");
}
@media (min-width: 768px) {
  .field__input-icon--email {
    right: 20px;
  }
}
.field__input-icon--phone {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #222222;
  mask-image: url("../../icons/phone_icon.svg");
}
@media (min-width: 768px) {
  .field__input-icon--phone {
    right: 20px;
  }
}

.form {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    margin-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .form {
    margin-bottom: 82px;
  }
}
@media (min-width: 768px) {
  .form__container {
    padding: 0 70px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .form__container {
    column-gap: 80px;
  }
}
.form__group {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form__group {
    margin-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .form__group--half-width {
    width: calc(100% / 2 - 40px);
  }
}
.form__label {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
}
@media (min-width: 1280px) {
  .form__label--half-width {
    width: 570px;
  }
}
.form__text {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__text {
    font-size: 20px;
    line-height: 100%;
  }
}
.form__button {
  min-width: 280px;
  margin-top: 34px;
  padding: 12px 26px;
  border: none;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form__button {
    margin-top: 0;
  }
}
@media (min-width: 1280px) {
  .form__button {
    min-width: 568px;
  }
}
.form__note {
  font-size: 14px;
  color: #000000;
}
@media (min-width: 768px) {
  .form__note {
    margin-left: 60px;
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .form__note {
    margin-left: 0;
  }
}

sup {
  position: relative;
  font-size: inherit;
  top: 2px;
}

.form__text {
  display: flex;
}

.field-group {
  border: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.field-group--cat-data {
  row-gap: 13px;
}
@media (min-width: 768px) {
  .field-group--cat-data {
    row-gap: 20px;
  }
}
.field-group--target {
  position: relative;
  padding-bottom: 25px;
  padding-top: 22px;
}
.field-group--target::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
.field-group--target::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -20px;
  height: 1px;
  background-color: #d9d9d9;
}
.field-group--target .control {
  width: 100%;
}
.field-group--target .control:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .field-group--target {
    padding-left: 28px;
    border: 1px solid #e7e7e7;
  }
  .field-group--target::before, .field-group--target:after {
    display: none;
  }
}
.field-group--contacts {
  gap: 15px;
}
@media (min-width: 768px) {
  .field-group--contacts {
    margin-bottom: 65px;
  }
}
@media (min-width: 1280px) {
  .field-group--contacts {
    column-gap: 80px;
  }
}
.field-group--additional {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .field-group--additional {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 32px;
  }
}
@media (min-width: 1280px) {
  .field-group--additional {
    margin-bottom: 60px;
    grid-template-columns: repeat(4, auto);
    gap: 32px 42px;
  }
}
.field-group--additional .control {
  min-width: 221px;
}
@media (min-width: 768px) {
  .field-group--additional .control {
    width: calc((100% - 15px) / 2);
  }
}
@media (min-width: 1280px) {
  .field-group--additional .control {
    width: calc((100% - 15px) / 4);
  }
}
.field-group__title {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  font-family: "Oswald", san-serif;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__title {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 36px;
  }
  .field-group__title br {
    display: none;
  }
}

.intro {
  position: relative;
  padding-top: 28px;
}
@media (min-width: 768px) {
  .intro {
    padding-top: 140px;
  }
}
.intro__container {
  text-align: center;
}
@media (min-width: 768px) {
  .intro__container {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}
@media (min-width: 1280px) {
  .intro__container {
    grid-template-columns: 510px auto;
  }
}
.intro__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", san-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 768px) {
  .intro__title {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-bottom: 40px;
    padding-left: 87px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
@media (min-width: 1280px) {
  .intro__title {
    padding-left: 79px;
    box-sizing: border-box;
    grid-column: 1/2;
  }
}
.intro__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", san-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {
  .intro__text {
    padding-left: 87px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
@media (min-width: 1280px) {
  .intro__text {
    padding-left: 79px;
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .intro picture {
    margin-top: 35px;
    z-index: -1;
    grid-column: 1/-1;
    grid-row: 2/5;
  }
}
@media (min-width: 1280px) {
  .intro picture {
    margin-top: -81px;
    margin-left: -62px;
    grid-column: 2/3;
    grid-row: 1/-1;
    z-index: 1;
  }
}
.intro__button {
  margin: 0 auto;
  padding: 18px 26px;
}
@media (min-width: 768px) {
  .intro__button {
    grid-column: 1/-1;
    grid-row: 3/4;
    margin-left: 87px;
  }
}
@media (min-width: 1280px) {
  .intro__button {
    grid-column: 1/2;
    margin-left: 79px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 175px;
    height: 52px;
  }
}
@media (min-width: 768px) {
  .logo__mobile {
    display: none;
  }
}
.logo__tablet {
  display: none;
}
@media (min-width: 768px) {
  .logo__tablet {
    display: block;
  }
}
@media (min-width: 1280px) {
  .logo__tablet {
    display: none;
  }
}
.logo__desktop {
  display: none;
}
@media (min-width: 1280px) {
  .logo__desktop {
    display: block;
  }
}
@media (min-width: 768px) {
  .logo__img {
    margin-right: 12px;
  }
}
@media (min-width: 1280px) {
  .logo__img {
    width: 202px;
    height: 59px;
    margin-right: 14px;
  }
}
@media (min-width: 768px) {
  .logo__text--header {
    display: none;
  }
}
.logo__text--footer {
  width: 128px;
  height: 24px;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.footer {
  background-color: #f2f2f2;
}
.footer__container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  padding: 20px 0 30px;
}
@media (min-width: 768px) {
  .footer__logo {
    padding: 0;
  }
}

.main__header {
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 1280px) {
  .main__header {
    margin-bottom: 82px;
    padding-top: 223px;
    padding-bottom: 47px;
  }
}
.main__header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 302px;
  background-color: #68b738;
  background-image: url("../../images/main_bg@1x.jpg");
  background-image: image-set(url("../../images/main_bg@1x.webp") 1x type("image/webp"), url("../../images/main_bg@2x.webp") 2x type("image/webp"), url("../../images/main_bg@1x.jpg") 1x type("image/jpeg"), url("../../images/main_bg@2x.jpg") 2x type("image/jpeg"));
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  z-index: -1;
}
@media (min-width: 768px) {
  .main__header::after {
    height: 0;
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .main__header::after {
    left: 50%;
    bottom: 0;
    height: auto;
    background-color: #68b738;
    background-image: url("../../images/ma");
    background-image: image-set(url("../../images/main_bg_desktop@1x.webp") 1x type("image/webp"), url("../../images/main_bg_desktop@2x.webp") 2x type("image/webp"), url("../../images/main_bg_desktop@1x.jpg") 1x type("image/jpeg"), url("../../images/main_bg_desktop@2x.jpg") 2x type("image/jpeg"));
  }
}

.page-form {
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-form {
    border: none;
  }
}
@media (min-width: 1280px) {
  .page-form {
    padding-top: 187px;
  }
}
.page-form__header {
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .page-form__header {
    padding: 0 70px;
    margin-bottom: 66px;
  }
}
.page-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Oswald", san-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
}
@media (min-width: 768px) {
  .page-form__title {
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
.page-form__text {
  margin: 0;
  font-family: "Oswald", san-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .page-form__text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .page-form__text {
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.products {
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products {
    margin-bottom: 45px;
    border-top: none;
  }
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .products__list {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .products__list {
    max-width: 1220px;
    margin-inline: auto;
    padding: 0;
    grid-template-columns: repeat(4, minmax(245, 1fr));
    gap: 60px 80px;
  }
}

.program-work {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .program-work {
    margin-bottom: 47px;
  }
}
@media (min-width: 1280px) {
  .program-work {
    margin-bottom: 26px;
  }
}
.program-work__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .program-work__title {
    margin-bottom: 32px;
  }
}
.program-work__list {
  padding: 0;
  margin: 0;
  display: grid;
  list-style-type: none;
  gap: 20px;
}
@media (min-width: 768px) {
  .program-work__list {
    margin-right: 80px;
    grid-template-columns: repeat(2, minmax(248, 1fr));
    gap: 37px 137px;
  }
}
@media (min-width: 1280px) {
  .program-work__list {
    margin-right: 0;
    grid-template-columns: repeat(4, minmax(248, 1fr));
    gap: 77px;
  }
}
.program-work__item {
  min-height: 60px;
  position: relative;
  padding-left: 80px;
  counter-increment: number;
}
@media (min-width: 768px) {
  .program-work__item {
    padding: 152px 0 58px;
  }
  .program-work__item::after {
    content: counter(number);
    min-width: 134px;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Oswald", san-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #f2f2f2;
    z-index: -1;
  }
}
.program-work__item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .program-work__item::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}
.program-work__item--benefit::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 28px;
}
.program-work__item--composition::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon_tub.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28.3px 31px;
}
.program-work__item--replacement::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon_eat.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}
.program-work__item--time::before {
  content: "";
  position: absolute;
  background-image: url("../../icons/icon_alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}
.program-work__text {
  margin: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .program-work__text {
    max-width: 245px;
  }
}

.programs {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programs {
    margin-bottom: 45px;
  }
}
@media (min-width: 1280px) {
  .programs {
    margin-bottom: 73px;
  }
}
.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .programs__list {
    flex-direction: row;
    gap: 80px;
  }
}
.programs__item {
  position: relative;
  box-sizing: border-box;
  padding: 30px 20px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .programs__item {
    padding: 77px calc(100% - 340px - 50px) 55px 50px;
  }
}
@media (min-width: 1280px) {
  .programs__item {
    max-width: 570px;
    padding: 77px 52px 55px;
  }
}
.programs__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .programs__item::before {
    top: 90px;
    right: 60px;
    left: auto;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .programs__item::before {
    top: 47px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}
.programs__item--weight-loss::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../../images/program_loss.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .programs__item--weight-loss::after {
    top: 81px;
    right: 92px;
    left: auto;
    width: 140px;
    height: 194px;
  }
}
@media (min-width: 1280px) {
  .programs__item--weight-loss::after {
    top: 41px;
    left: 67px;
    right: auto;
    width: 70px;
    height: 97px;
  }
}
.programs__item--weight-gain::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../../images/program_mass.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .programs__item--weight-gain::after {
    top: 91px;
    right: 28px;
    left: auto;
    width: 269px;
    height: 200px;
  }
}
@media (min-width: 1280px) {
  .programs__item--weight-gain::after {
    top: 67px;
    left: 33;
    right: auto;
    width: 135px;
    height: 56px;
  }
}
.programs__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 70px;
  font-family: "Oswald", san-serif;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programs__title {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .programs__title {
    margin-left: 160px;
    margin-bottom: 73px;
  }
}
.programs__text {
  margin: 0;
}
.programs__text:last-of-type {
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programs__text:last-of-type {
    padding-bottom: 33px;
    border-bottom: none;
  }
}
@media (min-width: 1280px) {
  .programs__text:last-of-type {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .programs__text {
    color: #000000;
  }
}
.programs__link {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-right: 40px;
  font-family: "Oswald", san-serif;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .programs__link {
    padding-top: 17px;
    padding-right: 52px;
  }
}
.programs__link[href]:hover::after {
  width: 32px;
  right: -8px;
}
.programs__link[href]:active {
  opacity: 0.3;
}
.programs__link--disabled, .programs__link--disabled:hover, .programs__link--disabled:active {
  cursor: default;
  opacity: 0.2;
}
.programs__link::after {
  content: "";
  position: absolute;
  top: calc(15px / 2 + 50%);
  right: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 12px;
  background-color: #000000;
  mask-image: url("../../icons/arrow.svg");
}

.promo {
  position: relative;
  min-height: 290px;
  background-color: #68b738;
  background-image: url("../../images/promo_bg_mobile@1x.jpg");
  background-image: image-set(url("../../images/promo_bg_mobile@1x.webp") 1x type("image/webp"), url("../../images/promo_bg_mobile@2x.webp") 2x type("image/webp"), url("../../images/promo_bg_mobile@1x.jpg") 1x type("image/jpeg"), url("../../images/promo_bg_mobile@2x.jpg") 2x type("image/jpeg"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 185px 42px 42px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo {
    min-height: 200px;
    padding: 70px 124px 70px 420px;
    aspect-ratio: unset;
    background-image: url("../../images/promo_bg_tablet@1x.jpg");
    background-image: image-set(url("../../images/promo_bg_tablet@1x.webp") 1x type("image/webp"), url("../../images/promo_bg_tablet@2x.webp") 2x type("image/webp"), url("../../images/promo_bg_tablet@1x.jpg") 1x type("image/jpeg"), url("../../images/promo_bg_tablet@2x.jpg") 2x type("image/jpeg"));
  }
}
@media (min-width: 1280px) {
  .promo {
    padding: 185px 40px 42px;
    background-image: url("../../images/promo_bg_desktop@1x.jpg");
    background-image: image-set(url("../../images/promo_bg_desktop@1x.webp") 1x type("image/webp"), url("../../images/promo_bg_desktop@2x.webp") 2x type("image/webp"), url("../../images/promo_bg_desktop@1x.jpg") 1x type("image/jpeg"), url("../../images/promo_bg_desktop@2x.jpg") 2x type("image/jpeg"));
  }
}
.promo::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 82px;
  background-image: url("../../icons/icon_gift.svg");
  z-index: 1;
}
@media (min-width: 768px) {
  .promo::before {
    top: 50%;
    left: 77px;
    transform: translateY(-50%);
  }
}
@media (min-width: 1280px) {
  .promo::before {
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.promo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
}
.promo__text {
  position: relative;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  z-index: 1;
}
@media (min-width: 768px) {
  .promo__text {
    text-align: left;
  }
}
@media (min-width: 1280px) {
  .promo__text {
    text-align: center;
  }
}

.social__list {
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social__list {
    border: none;
  }
}
.social__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 33px;
  height: 33px;
  color: #666;
}
.social__link:hover {
  color: #68b738;
}
.social__link--active {
  opacity: 0.3;
  color: #68b738;
}
@media (min-width: 768px) {
  .social__link {
    transform: scale(1.4);
  }
}
.social__icon {
  color: inherit;
}

.textarea {
  width: 100%;
  min-height: 150px;
  padding: 10px 12px;
  font-family: "Oswald", san-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  resize: none;
}
.textarea:hover {
  cursor: pointer;
  border: 1px solid #cdcdcd;
}
.textarea:focus {
  border: 1px solid #444444;
  outline: 1px solid #444444;
}
.textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.textarea--error, .textarea--error:focus {
  border: 1px solid #ff8282;
  outline: 1px solid #ff8282;
}
@media (min-width: 768px) {
  .textarea {
    min-height: 170px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
.textarea::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}