.additional-product {
  &__name {
    margin: 0;
    margin-bottom: 13px;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 16px;
    color: $color-darker-grey;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__details {
    margin: 0;
    margin-bottom: 15px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);

    @media (min-width: $tablet-width) {
      justify-content: end;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      justify-content: space-between;
      // grid-template-columns: subgrid;
      // grid-column: 2 / 4;
    }
  }

  &__weight {
    margin: 0;
  }

  &__cost {
    margin: 0;

    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }

    @media (min-width: $desktop-width) {
      // margin-left: 0;
    }
  }

  &__button {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;

    @media (min-width: $tablet-width) {
      padding-top: 10px;
      padding-bottom: 10px;
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      width: 244px;
      grid-column: 4 / 5;
    }
  }
}
