.card {
  min-width: 280px;
  margin: 0 auto;
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 140px auto;
  // grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image title'
    'image details'
    'button button';
  // column-gap: 20px;
  padding: 18px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    grid-template-areas:
      'image image'
      'title title'
      'details details'
      'button button';
    padding: 16px 39px 39px;
    box-sizing: border-box;
    background-image: linear-gradient(
      to bottom,
      $color-white 0%,
      $color-white 80px,
      $color-very-light-grey 80px,
      $color-very-light-grey 100%
    );
    // background-color: $color-very-light-grey;

    @media (min-width: $desktop-width) {
      min-width: 245px;
      // padding: 16px 30px 39px 40px;
    }
  }

  &__title {
    max-width: 80px;
    margin: 0;
    margin-bottom: 13px;
    grid-area: title;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: $color-darker-grey;

    @media (min-width: $tablet-width) {
      margin-inline: auto;
      margin-bottom: 21px;
      max-width: 150px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }

  &__text {
    margin: 0;
    grid-area: text;
    line-height: 18px;
    text-align: center;
    color: $color-dark-grey;
  }

  &__img-wrapper {
    grid-area: image;
    margin: auto;

    @media (min-width: $tablet-width) {
      height: 200px;
      margin-bottom: 26px;
      display: flex;
      align-items: end;
    }

    @media (min-width: $desktop-width) {
      height: 192px;
      margin-bottom: 34px;
    }
  }

  &__img {
    @media (min-width: $tablet-width) {
      margin-top: auto;
    }
  }

  &__details {
    // margin-bottom: 33px;
    margin: 0;
    grid-area: details;
    // gap: 16px;
    width: 140px;
    font-size: 12px;
    line-height: 16px;
    color: $color-dark-grey;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 24px;
      font-size: 16px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    // margin-bottom: 2px;

    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-light-grey;
    }
  }

  &__description {
    margin: 0;
    text-align: right;
  }

  &__button {
    width: 100%;
    grid-area: button;
    margin: 0 auto;
    margin-top: 21px;
    font-size: 16px;

    @media (min-width: $tablet-width) {
      width: 100%;
      align-self: flex-end;
      padding: 11px 26px;
      margin-top: auto;
    }

    @media (min-width: $desktop-width) {
      min-width: 168px;
      width: 100%;
    }
  }
}
