.control {
  min-height: 30px;
  position: relative;
  padding-left: 45px;
  display: flex;

  &:hover {
    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    min-height: 40px;
    padding-left: 60px;
  }

  &__label {
    padding-top: 5px;
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 18px;
    color: $color-darker-grey;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.control__input[type='radio'] {
  & + .control__mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.control__input[type='radio']:checked {
  & + .control__mark::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 13.5px;
    height: 13.5px;
    background-color: $color-basic;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.control__input[type='checkbox'] {
  & + .control__mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 38px;
      height: 38px;
    }
  }
}

.control__input[type='checkbox']:checked {
  & + .control__mark {
    background-image: url('../../icons/check_icon.svg');
    background-repeat: no-repeat;
    background-size: 18px 14px;
    background-position: center;

    @media (min-width: $tablet-width) {
      background-size: 24px 18px;
    }
  }
}

.control__input {
  &:hover {
    & + .control__mark {
      cursor: pointer;
      border-color: #bababa;
    }
  }

  &:focus {
    & + .control__mark {
      border-color: $color-dark-grey;
    }
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:focus {
    cursor: default;

    & + .control__mark,
    & ~ .control__label {
      opacity: 0.3;
    }
  }
}
