.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 45px 30px 55px;
    background-color: $color-white;
    border-top: 1px solid #e6e6e6;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 462px;
      background-color: $color-very-light-grey;
    }

    @media (min-width: $desktop-width) {
      border-top: none;

      &::after {
        top: 180px;
        height: auto;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 1;

    @media (min-width: $desktop-width) {
      max-width: 1220px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto 590px;
      grid-template-rows: repeat(2, auto);
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 76px;
      grid-column: 1 / 2;
      grid-row: 1/ 2;
    }
  }

  &__info {
    @media (min-width: $desktop-width) {
      max-width: 436px;
      padding-top: 70px;
      padding-bottom: 25px;
      grid-column: 1 /2;
      grid-row: 2 /3;
    }
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;
    color: $color-dark-grey;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 69px;
    }
  }

  &__results {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 80px;
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style-type: none;
  }

  &__number {
    font-family: $font-secondary;
    font-size: 30px;
    line-height: 37px;
  }

  &__text {
    margin: 0;
    color: $color-dark-grey;
  }

  &__cost {
    font-family: $font-secondary;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__before-after {
    @media (min-width: $desktop-width) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }

  &__image {
    text-align: center;
    margin-bottom: 15px;
  }

  &__range {
    display: flex;
    gap: 15px;

    &-text {
      font-family: $font-secondary;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;

      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
