.field {
  display: flex;
  align-items: center;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 30px;
  color: $color-dark-grey;
  text-transform: uppercase;

  &__input {
    height: 100%;
    margin-left: 15px;
    padding: 9px 20px;
    font-family: inherit;
    font-size: 20px;
    line-height: 30px;
    color: $color-dark-grey;
    text-transform: uppercase;
    appearance: textfield;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &::placeholder {
      font-family: $font-secondary;
      font-size: 20px;
      line-height: 30px;
      color: $color-dark-grey;
      text-transform: uppercase;
    }
  }
}
