.field-group {
  border: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  &--cat-data {
    row-gap: 13px;

    @media (min-width: $tablet-width) {
      row-gap: 20px;
    }
  }

  &--target {
    position: relative;
    padding-bottom: 25px;
    padding-top: 22px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -20px;
      right: -20px;
      height: 1px;
      background-color: #d9d9d9;
    }

    & .control {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 28px;
      border: 1px solid #e7e7e7;

      &::before,
      &:after {
        display: none;
      }
    }
  }

  &--contacts {
    gap: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 80px;
    }
  }

  &--additional {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 60px;
      grid-template-columns: repeat(4, auto);
      gap: 32px 42px;
    }

    & .control {
      min-width: 221px;

      @media (min-width: $tablet-width) {
        width: calc((100% - 15px) / 2);
      }

      @media (min-width: $desktop-width) {
        width: calc((100% - 15px) / 4);
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      max-width: 100%;
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 36px;

      & br {
        display: none;
      }
    }
  }
}
