.field-group {
  border: none;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  &--has-border {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding: 25px 28px;
      border: 1px solid #e7e7e7;
    }
  }

  &--cat-data {
    row-gap: 13px;

    @media (min-width: $tablet-width) {
      row-gap: 20px;
    }
  }

  &--target {
    & .control {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &--contacts {
    gap: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 80px;
    }
  }

  &--additional {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @media (min-width: $desktop-width) {
      column-gap: 104px;
    }

    & .control {
      min-width: 221px;

      @media (min-width: $tablet-width) {
        width: calc((100% - 15px) / 2);
      }

      @media (min-width: $desktop-width) {
        width: calc((100% - 15px) / 4);
      }
    }
  }

  &__title {
    max-width: 200px;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    font-family: $font-secondary;
    font-size: 24px;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      max-width: 100%;
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 36px;
    }

    // &::before {
    //   @include title-border-left;
    // }

    // &::after {
    //   @include title-border-right;
    // }
  }
}
