.footer {
  background-color: $color-very-light-grey;

  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding-top: 45px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      padding-top: 45px;
      padding-bottom: 49px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 30px;

    @media (min-width: $tablet-width) {
      width: 128px;
      height: 24px;
      justify-content: start;
      padding: 0;
      margin-right: 20px;
    }
  }
}
