.intro {
  position: relative;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 140px;
  }

  &__container {
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 510px auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-secondary;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: $color-white;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin-bottom: 40px;
      padding-left: 87px;
      font-size: 60px;
      line-height: 60px;
      color: $color-black;
    }

    @media (min-width: $desktop-width) {
      box-sizing: border-box;
      grid-column: 1 / 2;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 30px;
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: $color-white;

    @media (min-width: $tablet-width) {
      padding-left: 87px;
      margin-bottom: 50px;
      font-size: 20px;
      line-height: 20px;
      color: $color-black;
      grid-column: 1 / -1;
      grid-row: 2/ 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
    }
  }

  & picture {
    @media (min-width: $tablet-width) {
      margin-top: 35px;
      z-index: -1;
      grid-column: 1 / -1;
      grid-row: 2/ 5;
    }

    @media (min-width: $desktop-width) {
      margin-top: -70px;
      margin-left: -62px;
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      z-index: 1;
    }
  }

  &__product {
    @media (min-width: $tablet-width) {
      // // display: subgrid;
      // margin-top: -20px;
      // grid-column: 1 / -1;
      // grid-row: 2/ 5;
    }
  }

  &__button {
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
      grid-row: 3/ 4;
      margin-left: 87px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
    }
  }
}
