.logo {
  @media (min-width: $tablet-width) {
    width: 175px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }

  &__text {
    display: block;
    width: 101px;
    height: 18px;
    &--header {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--footer {
      width: 128px;
      height: 24px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
