.logo {
  // width: 100px;
  // height: 100px;
  @media (min-width: $tablet-width) {
    width: 175px;
    height: 52px;
  }

  &__mobile {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
  &__img {
    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
      margin-right: 14px;
    }
  }

  &__text {
    &--header {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--footer {
      width: 128px;
      height: 24px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
