.logo {
  // display: flex;
  // align-items: center;
  &__img {
    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 14px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
