.promo {
  position: relative;
  min-height: 290px;
  background-color: $color-basic;
  background-image: url('../../images/promo_bg_mobile@1x.jpg');
  background-image: image-set(
    url('../../images/promo_bg_mobile@1x.webp') 1x type('image/webp'),
    url('../../images/promo_bg_mobile@2x.webp') 2x type('image/webp'),
    url('../../images/promo_bg_mobile@1x.jpg') 1x type('image/jpeg'),
    url('../../images/promo_bg_mobile@2x.jpg') 2x type('image/jpeg')
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 185px 42px 42px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 70px 124px 70px 420px;
    aspect-ratio: unset;
    background-image: url('../../images/promo_bg_tablet@1x.jpg');
    background-image: image-set(
      url('../../images/promo_bg_tablet@1x.webp') 1x type('image/webp'),
      url('../../images/promo_bg_tablet@2x.webp') 2x type('image/webp'),
      url('../../images/promo_bg_tablet@1x.jpg') 1x type('image/jpeg'),
      url('../../images/promo_bg_tablet@2x.jpg') 2x type('image/jpeg')
    );
    // background-position: 90% 55%;
  }

  @media (min-width: $desktop-width) {
    // width: 245px;
    padding: 185px 40px 42px;
    background-image: url('../../images/promo_bg_desktop@1x.jpg');
    background-image: image-set(
      url('../../images/promo_bg_desktop@1x.webp') 1x type('image/webp'),
      url('../../images/promo_bg_desktop@2x.webp') 2x type('image/webp'),
      url('../../images/promo_bg_desktop@1x.jpg') 1x type('image/jpeg'),
      url('../../images/promo_bg_desktop@2x.jpg') 2x type('image/jpeg')
    );
  }

  &::before {
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 82px;
    background-image: url('../../icons/icon_gift.svg');
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: 50%;
      left: 77px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $color-basic, $alpha: 0.85);
  }

  &__text {
    position: relative;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
    text-align: center;
    z-index: 1;

    @media (min-width: $tablet-width) {
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
    }
  }
}
