.promo {
  position: relative;
  min-height: 290px;
  background-color: $color-basic;
  background-image: url('../../images/promo_bg@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 185px 42px 42px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    aspect-ratio: unset;
    background-position: 90% 55%;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
  }

  &::before {
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 82px;
    background-image: url('../../icons/icon_gift.svg');
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: $color-white;
    text-align: center;
  }
}
